 body {
            margin: 0;
            padding: 0;
            overflow-x: hidden;
            font-family: Arial, sans-serif;
        }

        #container {
            position: relative;
            height: 100vh;
        }

        #section1, #section2, #section3,#section4,#section5 {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: white;
            padding: 20px;
            box-sizing: border-box;
        }

        #section3{
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: white;
            padding: 20px;
            box-sizing: border-box;
        }

        

        #buttonRight, #buttonCenter, #buttonLeft {
            position: fixed;
            bottom: 20px;
            padding: 3px;
            cursor: pointer;
            background-color: white;
            border-radius: 10px;
            font-size: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            display: block;
        }

        #buttonRight {
            right: 20px;
            position: fixed;
        }

        #buttonCenter {
        	position: fixed;
            left: 50%;
            transform: translateX(-50%);
        }

        #buttonLeft {
            left: 20px;
        }

        .icon {
            font-size: 24px;
            margin-bottom: 0px;
        }
        .setting{
        	float: right;
        }

        .logo2 {
    align-self:  center; /* Float the image to the left */
    margin: 10px 5px; /* Adjust the margin for positioning */
    width: 40px; /* Adjust the width of the image */
    height: auto;
    cursor: pointer; /* Maintain the aspect ratio */
}

  .logo10 {
    float: left; /* Float the image to the left */
    margin: 10px 5px; /* Adjust the margin for positioning */
    width: 30px; /* Adjust the width of the image */
    height: auto;
     /* Maintain the aspect ratio */
}
	.logo3 {
    align-self:  center; /* Float the image to the left */
    /* Adjust the margin for positioning */
    width:15px; /* Adjust the width of the image */
    height: auto; /* Maintain the aspect ratio */
}

.activity {
    align-self:  left; /* Float the image to the left */
    /* Adjust the margin for positioning */
    width:25px; /* Adjust the width of the image */
    height: auto; /* Maintain the aspect ratio */
    cursor: pointer;
}
.setting {
    align-self:  right; /* Float the image to the left */
    /* Adjust the margin for positioning */
    width:25px; /* Adjust the width of the image */
    height: auto; /* Maintain the aspect ratio */
    cursor: pointer;
}
    #formContainer {
            width: 300px; /* Adjust the width as needed */
            padding: 20px;
            background-color: white;
            width: 100%;
        }
        form{
            text-align: center;
        }

        .background{
            background-color: green;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            width: 95%;
        }
               
        .form2{
            text-align: left;
            height: 30%;
            color: white;
            font-size: 140%;
            padding: 23px;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
        }
        .form3{
        	margin-right: 30%;
            text-align: left;
            height: 30%;
            border: solid;
            border-color: black;
            color: white;
            font-size: 140%;
            padding: 40px;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
        }
        .form4{
            text-align: left;
            height: 30%;
            color: white;
            font-size: 140%;
            padding: 40px;
            
        }

        
        .formater{
            float: right;

        }
        .userlabel{
        	text-align: center;
        }
        .history{
        	text-align: center;
        }

        .magnifier{
        	
        	margin-left: 50%;
        	margin-top: 20%;
        	color: grey;
          	align-self:  center; /* Float the image to the left */
    /* Adjust the margin for positioning */
    width:40px; /* Adjust the width of the image */
    height: auto; /* Maintain the aspect ratio */
   
        }

       .background3{
            background-color: white;
            border-top-right-radius: 15px;
            border-top-left-radius: 15px;
            width: 95%;
            z-index: -30;
        }
        .background4{
            background-color: black;
            border-radius: 15px;
            width: 95%;
            color: white;
            z-index: -30;
        }

        
           
        .formater3 {
            float: right;

        }

        button{
            border: none;
            cursor: pointer;
            background-color: white;

        }

        #link {
            display: none;
            
        }

        #linkfloatingCard {
            display: none;
            position: fixed;
            top: 15%;
            left: 10%;
            transform: translate(-50%, -50%);
            padding: 5px;
            background-color: transparent;
            color: grey;
            font-size: 60%;
            border-radius: 10px;
            font-style: italic;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        #floatingCardpayment {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 15px;
            background-color: green;
            color: white;
            font-size: 80%;
            border-radius: 10px;
            font-style: italic;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        #floatingpaymentError {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 15px;
            background-color: red;
            color: white;
            font-size: 80%;
            border-radius: 10px;
            font-style: italic;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        #floatingCard01 {
            display: none;
            font-style: italic;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 15px;
            background-color: green;
            color: white;
            font-size: 90%;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        #floatingCardclaimed {
            display: none;
            font-style: italic;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 15px;
            background-color: red;
            color: white;
            font-size: 90%;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
        #floatingCard {
            display: none;
            font-style: italic;
            position: fixed;
            top: 55%;
            left: 50%;
            width: 90%;
            transform: translate(-50%, -50%);
            padding: 15px;
            background-color: red;
            color: white;
            font-size: 80%;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
#floatingCard9 {
            display: block;
            position: absolute;
            top: 23%;
            left: 82%;
            width: 20%;
            height: 35%;
            transform: translate(-50%, -50%);
            padding: 15px;
            background-color: tomato;
            color: black;
            border-color: green;
            border-width: 0.8px;
            font-size: 140%;
            border-radius: 10px;
            cursor: pointer;
            
            font-size: 80%;
            
            border-width: 0.8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        #floatingCard2 {
            display: none;
            font-style: italic;
            position: fixed;
            top: 50%;
            left: 50%;
            width: 90%;
            transform: translate(-50%, -50%);
            padding: 15px;
            background-color: red;
            color: white;
            font-size: 130%;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        #floatingCard3 {
            display: none;
            font-style: italic;
            position: fixed;
            top: 50%;
            left: 50%;
            width: 90%;
            transform: translate(-50%, -50%);
            padding: 15px;
            background-color: red;
            color: white;
            font-size: 90%;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        #floatingCard4 {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 15px;
            background-color: green;
            color: white;
            width: 90%;
            font-size: 140%;
            border-radius: 5px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        #floatingCard5 {
            display: block;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 15px;
            background-color: green;
            color: white;
            font-size: 140%;
            border-radius: 10px;
            cursor: pointer;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        #floatingCard6 {
            display: none;
            position: absolute;
            top: 50%;
            left: 50%;
            width: 90%;
            transform: translate(-50%, -50%);
            padding: 15px;
            background-color: white;
            color: black;
            font-size: 100%;
            border-radius: 10px;
            cursor: pointer;
            border-color: grey;
            border: solid;
            border-width: 0.8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        #floatingCard7 {
            display: block;
            position: absolute;
            top: 55%;
            left: 50%;
            width: 70%;
            height: 40%;
            transform: translate(-50%, -50%);
            padding: 15px;
            background-color: grey;
            color: black;
            font-size: 100%;
            border-radius: 10px;
            cursor: pointer;
            border-color: grey;
            font-size: 150%;
            border: solid;
            border-width: 0.8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        #floatingCard8 {
            display: block;
            position: absolute;
            top: 30%;
            left: 15%;
            width: 20%;
            height: 15%;
            transform: translate(-50%, -50%);
            padding: 15px;
            background-color: tomato;
            color: black;
            border-color: green;
            border-width: 0.8px;
            font-size: 140%;
            border-radius: 10px;
            cursor: pointer;
            
            font-size: 80%;
            
            border-width: 0.8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

       
        .wldid{
        	text-align: center;

        }

         .grants-container{
        	text-align: center;
        	max-width: 100%;

        }
        .grants-container img{
        	max-width: 100%;
        	height: auto;

        }
        .wldbutton{
        	background-color: black;
        	color: white;
        	font-size: 140%;
        	width: 30%;
        	border-radius: 14px;
        	border-color: black;
        }
          .purchase{
	width: 20%;
	
}

 .quit{

	float: right;

}
.account{
	background-color: white;
	width: 30%;
	color: green;
	border-radius: 14px;
	text-align: center;
	padding: 3px;
}
.login{
	background-color: white;
	width: 20%;
	color: green;
	border-radius: 5px;
	text-align: center;
	padding: 3px;
	float: right;
}
.payment{
	font-size: 250%;
	color: green;
	margin-left: 4px;

}.payment2{
	font-size: 120%;
	margin-left: 4px;

}
.paymentphone{
	font-size: 120%;
	width: 30%;
	padding: 10px;
	border-color: tomato;
}
.step2{
	display: none;
}

.step3{
	display: none;
}
.dashboard {
    position: fixed;
    border-style: solid;
    border-color: darkgrey;
    padding: 5px;
    top:	0px;
    margin-top: 1px;
    left: -320px; /* Start with the dashboard hidden */
    width: 300px;
    height: 98%;
    background-color: white;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    overflow-y: auto;
    transition: 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
}


.dashboard.open {
    left: 0;
}
.balance{
	width: 45%;
	border: none;
	height: 1%;
	pointer-events: none;
}

.granter{
	width: 80%;
	border: none;
	color: red;
		height: 1%;
	pointer-events: none;
}

.logod {
    float: center; /* Float the image to the left */
    margin: 5px 1px; /* Adjust the margin for positioning */
    width: 14px; /* Adjust the width of the image */
    height: auto; /* Maintain the aspect ratio */
}
.mainbalance{
	font-size: 80%;
	width: 25%;
	border: none;
	text-align: center
	border:none;
	pointer-events: none;


}
.coinbalance{
	font-size: 150%;
	padding: 4px;
	width: 30%;
	pointer-events: none;
	border: none;
	border-color: white;
	background-color: white;
	color: black;
	float: right;
	

}
